html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

  @media screen and (max-width: $desktopWidth) {
    font-size: 15px;
  }

  @media screen and (max-width: $tableWidth) {
    font-size: 14px;
  }

  @media screen and (max-width: $phoneWidth) {
    // font-size: 13px;
  }
}

body {
  position: relative;
  line-height: $mainLineHeight;
  font-family: $mainFont;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $mainFontColor;
  background-color: $light;
}

main {
  height: calc(100vh - 6.875rem);
}