body {
  position: relative;
  line-height: $mainLineHeight;
  font-family: $mainFont;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $mainFontColor;
  background-color: $light;
}

main {
  height: calc(100vh - 6.875rem);
}