// Font
// $mainFont                : 'Panton', Helvetica, Arial, sans-serif;

// Size
// $mainFontColor           : #1d1e1e;
// $mainFontSize            : 16px;
// $mainFontWeight          : normal;
// $mainLineHeight          : 1;

// Main color
$primary                 : #2196f3 !default;
$secondary               : #ffffff !default;
$success                 : #4caf50 !default;
$info                    : #9c27b0 !default;
$warning                 : #ff9800 !default;
$danger                  : #e51c23 !default;
$light                   : #ffffff !default;
$dark                    : #222222 !default;
$black                   : #000000 !default;

// Transition
$def-transition          : all .3s cubic-bezier(0.25, 0.1, 0.25, 1);
$long-transition         : all .8s cubic-bezier(0.25, 0.1, 0.25, 1);

// Background
// $primary-bckgr           : #009ee2;
// $light-bckgr             : #efefef;