// Utils
@import "utils/vars";
@import "utils/fonts";
@import "utils/mixins";

body {
  position: relative;
  line-height: $mainLineHeight;
  font-family: $mainFont;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $mainFontColor;
  background-color: $light;
}

// Modules
@import "modules/header";
@import "modules/menu";
@import "modules/switch";
// @import "modules/btn";
// @import "modules/carousel";
// @import "modules/catalog";
// @import "modules/container";
// @import "modules/footer";
// @import "modules/form";
// @import "modules/header";
// @import "modules/logo";
// @import "modules/nav";
// @import "modules/row";
// @import "modules/section";
// @import "modules/tile";
