.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: rem(30) 0 rem(30);
  background-color: $secondary;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}