.menu {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 350px;
  padding: 105px 0 20px;
  background-color: $primary-light;
  transition: $def-transition;

  &--shown {
    transform: translateX(0);
  }
}

.menu-button {
  position: relative;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 25px;
  cursor: pointer;
  
  span {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: $warning;
    transition: $def-transition;
  }

  &:hover {
    span {
      background-color: $success-dark;
    }
  }

  &--active {
    span:nth-child(1) {
      transform: rotate(45deg) translate(7px, 7px);
    }

    span:nth-child(2) {
      opacity: 0;
    }
    
    span:nth-child(3) {
      transform: rotate(-45deg) translate(8px, -7px);
    }
  }
}

.menu__item {
  display: flex;
  align-items: center;
  padding: rem(10) 0 rem(10) rem(30);
  font-size: rem(25);
  color: $warning-dark;
  transition: $def-transition;
  cursor: pointer;

  &--main {
    font-weight: bold;
    text-decoration: underline;
  }

  &:hover {
    background-color: $secondary;
  }
}

.menu__icon {
  width: rem(40);
  height: rem(50);
  margin-right: 10px;
  fill: $warning-dark;
  
  &--ball {
    fill: $red;
  }
  
  &--bike {
    fill: $orange;
  }

  &--horse {
    fill: $brown;
  }

  &--puzzle {
    fill: $dark;
  }
  
  &--duck {
    fill: $yellow;
  }

  &--dinosaur {
    fill: $green;
  }

  &--suit {
    fill: $blue;
  }

  &--baby {
    fill: $violet;
  }
}